In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams['figure.figsize'] = (15,5)

import seaborn as sns

from sklearn.cross_validation import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import confusion_matrix

from matplotlib.colors import ListedColormap

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
dataset = pd.read_csv('titanic_test.csv')
dataset.shape

(418, 11)

In [3]:
def impute_age(cols):
    means = dataset.groupby(['Pclass'])['Age'].mean().values
    age = cols[0]
    pclass = cols[1]
    if (pd.isnull(age)):
        return means[int(pclass)-1]
    return age

In [4]:
dataset['Age'] = dataset[['Age','Pclass']].apply(impute_age, axis=1)

In [5]:
sex_dummies = pd.get_dummies(dataset['Sex'], drop_first=True)
embarked_dummies = pd.get_dummies(dataset['Embarked'], drop_first=True)
pclass_dumies = pd.get_dummies(dataset['Pclass'], drop_first=True)
dataset = pd.concat([dataset,sex_dummies,embarked_dummies, pclass_dumies], axis=1)
dataset.drop(
    ['Sex','Name','Ticket','PassengerId','Pclass', 'Embarked','Cabin','Fare'], axis=1, inplace=True)
dataset.head()

    Age  SibSp  Parch  male  Q  S  2  3
0  34.5      0      0     1  1  0  0  1
1  47.0      1      0     0  0  1  0  1
2  62.0      0      0     1  1  0  1  0
3  27.0      0      0     1  0  1  0  1
4  22.0      1      1     0  0  1  0  1

In [6]:
dataset.to_csv('processed_test_dataset.csv', index=False)